<!DOCTYPE html>
<html>
  <head>
    <title>Insurance App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>
  <body>
    <login-lit></login-lit>
    <insurance-products-lit></insurance-products-lit>
  </body>
</html>